<div>
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <!-- Username -->
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" required />
      <!-- Error de validación de Username -->
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small *ngIf="loginForm.get('username')?.hasError('required')">Username is required.</small>
      </div>
    </div>

    <!-- Password -->
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" required />
      <!-- Error de validación de Password -->
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
      </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>